/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.background{
    height: 100%;
    background: url(board.jpg) no-repeat center center fixed;
    background-size: cover; /*Css padrão*/
    /* background-color: black; */
    /* margin-top : -50px;
    padding: 100px; */
 }

 .background-telas{
     background-color: whitesmoke;
     min-height: 50vh; 
     padding: 5px;
     border-radius: 5px;
 }

 .styles-table{
     font-size: small;
 }