<div class="container-fluid mt-4 pt-2 pb-2  background-telas">
    <button type="button" class="btn btn-primary align-right btn-sm" (click)="showCadastro()">Cadastrar Indicação</button>
    <button type="button"  class="btn btn-danger align-right btn-sm ms-2" (click)="logout()">Logout</button>
<div class="row mt-4" *ngIf='formCadastro'>
    <form #productform="ngForm"  (ngSubmit)="cadastrarIndicacao()">
      <div class="row">
        <div class="form-group col-lg-4">
          <label for="nome">Nome</label>
          <input type="text" name="nome" class="form-control" id="nome" [(ngModel)]="form.nome">
        </div>
        <div class="form-group col-lg-4">
          <label for="cpf">CPF</label>
          <input type="text" name="cpf" class="form-control" id="cpf" [(ngModel)]="form.cpf">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-4">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" class="form-control" id="telefone" [(ngModel)]="form.telefone">
        </div>
        <div class="form-group col-lg-4">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" id="email" [(ngModel)]="form.email">
        </div>
      </div>
        <button type="submit" class="btn btn-outline-success mt-2 btn-sm" >Salvar</button>
      </form>
</div>

<div class="row m-2" *ngIf="indicacoes.length > 0">
  <div class="col-12">
    <div class="table-responsive">
    <table class="table table-hover mt-2 styles-table">
        <thead>
          <tr>
    
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Cpf</th>
            <th scope="col">Telefone</th>
            <th scope="col">Status</th>
            <th></th>
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let indicacao of indicacoes; let i = index">
    
            <td>{{indicacao.nome}}</td>
            <td>{{indicacao.email}}</td>
            <td>{{indicacao.cpf}}</td>
            <td>{{indicacao.telefone}}</td>
            <td>{{indicacao.status.descricao}}</td>
            <td class="overflow-hidden">
              <div ngbDropdown container="body">
                <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Menu</button>
                <div ngbDropdownMenu>
                  <button [disabled]="indicacao.status.id == 3"  (click)="updateIndicacao(indicacao.id)" ngbDropdownItem>+ status</button>
                  <button (click)="deleteIndicacao(indicacao.id)"  ngbDropdownItem>Excluir</button>
                </div>
              </div>
            </td>
            <!-- <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Action - 1</button>
                  <button ngbDropdownItem>Another Action</button>
                  <button ngbDropdownItem>Something else is here</button>
                </div>
              </div> -->

              
                <!-- <button [disabled]="indicacao.status.id == 3" type="button"  class="col-5 btn btn-primary align-right btn-sm" (click)="updateIndicacao(indicacao.id)">+ Status</button>
              <button type="button"  class=" col-5 btn btn-danger align-right btn-sm ms-2" (click)="deleteIndicacao(indicacao.id)">Excluir</button> -->
            <!-- </td> -->
    
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    
</div>



</div>
